<div class="article__header row">
  <span class="article__id">Id: </span> {{article.id}}
  <span class="article__title">Title: </span> {{article.title}}
</div>

<div class="row">
  {{#each article.paragraphs as |paragraph|}}
    {{!-- We pass to each paragraph the given paragraph and the text that must be highlighted --}}
    {{highlight-paragraph paragraph=paragraph highlight=highlightText}}
  {{/each}}
</div>
