{{!-- This is the index route template, backing the index.js route and receiving the
previously fetched model. If no controller is specified, the template (view)
receives the data as is. --}}

{{!--
Assuming that we might receive a list of articles, we render an article Component
per each one passing the article data as a parameter.
--}}

<h5>Example of article fetched from an API and generated on the fly</h5>
<div class="row">
  {{#each model as |article|}}
    {{highlight-article article=article}}
  {{/each}}
</div>

<hr>


<h5>Example of an article with the content put statically</h5>
<div class="row">
  {{#highlight-terms 'That wonderful Person of Sparta'}}
    There was an Old Lady of Prague, Whose language was horribly vague; When they said, 'Are these caps?' She answered, 'Perhaps!' That oracular Lady of Prague.
    There was an Old Person of Sparta, Who had twenty-one sons and one 'darter'; He fed them on snails, And weighed them in scales, That wonderful Person of Sparta.
    There was an Old Man at a casement, Who held up his hands in amazement; When they said, 'Sir, you'll fall!' He replied, 'Not at all!' That incipient Old Man at a casement
  {{/highlight-terms}}
</div>
